.head{
    .cact-head{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .head-left{
            padding-top: 150px;
            /* margin-left: 100px; */
            .img-postion{
                position: relative;
                
            }
            .img-absalut{
                position: absolute;
                left: -70px;
                bottom: -40px;
            }
        }
        .head-right{
            margin-right: 30px;
            .indiv{
                width: 115px;
                height: 39px;
                border-radius: 10px;
                background-color: #F0E71433;
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                
                h2{
font-weight: 400;
font-size: 16px;
line-height: 100%;
text-transform: uppercase;
margin-left: 10px;

                }
            }
            .head-text{
                display: flex;
                flex-direction: column;
                gap: 25px;
              h2{
font-weight: 600;
font-size: 44px;
line-height: 56px;
              } 
              p{
font-weight: 400;
font-size: 20px;
line-height: 30px;

              } 
            }
            .divin{
                margin-top: 40px;
                width: 160px;
                height: 46px;
                border-radius: 20px;
                background-color: #24272E;
                h3{
                    color: yellow;
                    margin-left: 30px;
                    padding-top: 10px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;

                }
            }
        }
    }
}